@model IndexViewModel
@{
    ViewBag.Title = "IComputerEngineer Blog";
    ViewBag.Descrition = "Blog:IComputerEngineer<THuman>";
    ViewBag.Tags = "blog programming coding computer computer science";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var basePath = Context.Request.PathBase;

}

<div class="main-img">
    <span class="title-main">IComputerEngineer</span>
</div>
<div class="container">
    @foreach (var post in Model.Posts)
    {
        //sonradan anasayfada çalışmazsa 14. bölüm sonuna bak
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img class="post-img" src="@Url.Action("Image", "Home", new { image = post.Image })" />
        </a>
        <div class="title">
            <p>@post.Title</p>
        </div>
    }
    <div class="pages">
        @if (Model.CurrenPageNumber > 1)
        {
            <a asp-action="Index" asp-controller="home" asp-route-pageNumber="@(Model.CurrenPageNumber-1)">(--</a>
        }
        @for (int i = 1; i <= Model.PageCount; i++)
        {
            <a asp-action="Index" asp-controller="home" class="@(i == Model.CurrenPageNumber ? "active" : "")"
               asp-route-pageNumber="@i">@i</a>
        }
        @if (Model.NextPage)
        {
            <a asp-action="Index" asp-controller="home" asp-route-pageNumber="@(Model.CurrenPageNumber+1)">--)</a>
        }
    </div>

</div>
