@model Post
@{
    ViewBag.Title = "IComputerEngineer Blog";
    ViewBag.Category = Model.Category;
    ViewBag.Description = Model.Description;
    ViewBag.Tags = Model.Tags.Replace(' ', ',') + " " + Model.Category;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="title">
        <p>@Model.Title</p>
    </div>
    <div class="post">
        @if (!String.IsNullOrEmpty(Model.Image))
        {
            <img class="post-img" src="@Url.Action("Image", "Home", new { image = Model.Image })" />
        }
    </div>

    <div class="post-body">
        @Html.Raw(@Model.Body)
    </div>
    <div class="comment-section">
        @{ await Html.RenderPartialAsync("_MainComment", new CommentViewModel
            {
                PostId = Model.Id,
                MainCommentId = 0
            });
        }
        @foreach (var c in Model.MainComments)
        {
            <div class="mainComment">
            <p >
                @c.Messege -- @c.Created -- @c.Author
            </p>
            </div>
            <div style="margin-left:20px;">
                <h5>Sub Comments</h5>
                @{
                    await Html.RenderPartialAsync("_MainComment", new CommentViewModel
                    {
                        PostId = Model.Id,
                        MainCommentId = c.Id,
                    });
                }
                @foreach (var sc in c.SubComments)
                {
                    <div class="subComment">
                    <p>
                        @sc.Messege -- @sc.Created -- @sc.Author
                    </p>
                    </div>

                }
            </div>
        }

    </div>
</div>






