<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description" />
    <meta name="category" content="@ViewBag.Category" />
    <meta name="keywords" content="@ViewBag.Tags" />


    <environment include="Production">
        <link href="~/css/site.min.css" rel="stylesheet" />
    </environment>
    <environment include="Development">
        <link href="~/css/site.css" rel="stylesheet" />
    </environment>

</head>
<body>
    <div>
        <nav>
            <a asp-controller="Home" asp-action="About">About</a>
            <a asp-controller="Home" asp-action="Index">Home</a>
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-controller="Panel" asp-action="Index">Admin Panel</a>
                <a asp-controller="Auth" asp-action="Logout">Logout</a>
                <a asp-controller="Panel" asp-action="Edit">Create Post</a>
            }
            else
            {
                <a asp-controller="Auth" asp-action="Login">Sign in</a>
            }
            @{/*<a asp-controller="Home" asp-action="Index" asp-route-category="Data">Data</a>*/};

        </nav>
    </div>
    <div>
        @RenderBody()
    </div>
    @RenderSection("scripts", false)
</body>
</html>
